<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @catalog.name %>
</p>

<p>
  <b>Pid:</b>
  <%= @catalog.pid %>
</p>


<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
