<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.Name') %></b>
  <%= @catalog.name %>
</p>

<p>
  <b><%= t('.Pid') %></b>
  <%= @catalog.pid %>
</p>


<%= link_to t('.Edit'), edit_catalog_path(@catalog) %> |
<%= link_to t('.Back'), catalogs_path %>
