<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>
  <b><%= t('.Title') + ":" %></b>
  <%= @product.title %>
</h1>

<p>
  <b><%= t('.Product details') + ":" %></b>
  <%=sanitize @product.description %><br />
    <%= image_tag(@product.image_url) %>
</p>


<p>
  <b><%= t('.Price') + ":" %></b>
  <%= @product.price %>
</p>

<h3><%= t('.Comments') + ":" %></h3>
<% @product.comments.each do |comment| %>
	<p>
    Commented <%= time_ago_in_words(comment.created_at)%>
     <br/>
     <%= comment.content %>
  </p>
<% end %>


<%= form_for [@product, Comment.new] do |f| %>
  <p>
    <%= f.label :content, t('.Comments') + ":" %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit t('.Add comment') %>
  </p>
<% end %>


<br />
<%= link_to t('.Edit'), edit_product_path(@product) %> |
<%= link_to t('.Back'), products_path %>



