<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<%if flash[:error] != nil %> 
    <div id="blank_comment"> <%= flash[:error] %> </div>
<% end %>

<h1>
  <b><%= t('.Title') + ":" %></b>
  <%= @product.title %>
</h1>

<p>
  <b><%= t('.Product details') + ":" %></b>
  <%=sanitize @product.description %><br />
    <%= image_tag(@product.image_url) %>
</p>


<p>
  <b><%= t('.Price') + ":" %></b>
  <%= @product.price %>
</p>

<h3>Comments:</h3>
<% @product.comments.each do |comment| %>
  <div id="comment">
    <div id="comment_interval"></div> 
    <div id="commenter"><strong><%=  User.find_by_id(comment.user_id).name  %></strong></div>
    <div id="comment_time"><%= comment.created_at.to_s(:db) %></div>
    <br/><br/>
    <div id="comment_content"><%= comment.content %></div><br/>
  </div>
<% end %>


<% if @user != nil  %>
  <%= form_for [@product, Comment.new] do |f| %>
    
    <p>
      <%= f.label :content, "New comment:"%><br />
      <%= f.text_area :content %>
    </p> 
    <p>
      <%= f.submit t('.Add comment') %>
    </p>
  <% end %>
<% end %>

<br />
<%= link_to t('.Edit'), edit_product_path(@product) %> |
<%= link_to t('.Back'), products_path %>



