<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>

<div class="entry">
  <% if @products.empty? %>
    <p>No Products matched !</p>
  <% end %>

  <% @products.each do |product| %>
    <%= link_to image_tag(product.image_url),{:controller => "products",:action => "show", :id => product } %>
    <h3><%= link_to product.title, { :controller => "products",:action => "show", :id => product } %></h3>
    <%=sanitize product.description %>

    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to t('.add_html'), line_items_path(:product_id => product), :remote => true %>
    </div>
  <% end %>
</div>

